*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    border: 2px solid black;
    width: 500px;
    display: flex;
    box-shadow: 7px 7px black;
}

.size {
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
}

.btn-class {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background-color: #782affb2;
    color: white;
    font-size: 14px;
}

.btn-class:hover {
    background-color: #4303b1b2;
    cursor: pointer;
}

.counter {
    display: flex;
    align-items: center;
}

#value {
    margin: 0 10px;
}

.minus:hover {
    cursor: pointer;
}

.plus:hover {
    cursor: pointer;
}

.price {
    margin-left: 30px;
    font-size: 25px;
}

#buy {
    width: 90%;
    height: 40px;
    background-color: #792aff;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}

#buy:hover {
    background-color: #5917ca;
}